In [3]:
import pyspark
import pandas as pd
from pyspark.sql import SparkSession

ss = SparkSession.builder.master("local[4]").appName("movies-ml").getOrCreate()
sc = ss.sparkContext

In [4]:
ratingsDF = ss.read.csv("ratings.csv", header=True, inferSchema=True)
ratingsDF.printSchema()

root
 |-- userId: integer (nullable = true)
 |-- movieId: integer (nullable = true)
 |-- rating: double (nullable = true)
 |-- timestamp: integer (nullable = true)

In [8]:
pd.DataFrame(ratingsDF.take(15), columns=ratingsDF.columns).transpose()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
userId,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
movieId,1.0,3.0,6.0,47.0,50.0,70.0,101.0,110.0,151.0,157.0,163.0,216.0,223.0,231.0,235.0
rating,4.0,4.0,4.0,5.0,5.0,3.0,5.0,4.0,5.0,5.0,5.0,5.0,3.0,5.0,4.0
timestamp,964982703.0,964981247.0,964982224.0,964983815.0,964982931.0,964982400.0,964980868.0,964982176.0,964984041.0,964984100.0,964983650.0,964981208.0,964980985.0,964981179.0,964980908.0